@import "./node_modules/reveal.js/css/theme/template/mixins";
@import "./node_modules/reveal.js/css/theme/template/settings";

:root {
  --bg-color1-1: #ffffff;
  --bg-color1-2: #ffffff;
  --bg-color2-1: #ffffff;
  --bg-color2-2: #ffffff; 
}

$backgroundColor: #191919;

$mainColor: #4c4f69;
$headingColor: #4c4f69;

$mainFontSize: 42px;
$mainFont: Lato, Helvetica, sans-serif;
$headingFont: Lato, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #fe640b;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 4em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$heading4Size: 1em;

foo {
  color: #dc8a78;
  color: #dd7878;
  color: #ea76cb;
  
  color: #8839ef;
  color: #d20f39;
  
  color: #e64553;
  color: #fe640b;

  color: #df8e1d;
  color: #179299;

  color: #7287fd;

  color: #209fb5;
  color: #40a02b;

  color: #04a5e5;
  color: #1e66f5;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg1 {
  background: linear-gradient(90deg, var(--bg-color1-1), var(--bg-color1-2));
}

#bg2 {
  transition: opacity 1s;
  opacity: 0;
  background: linear-gradient(90deg, var(--bg-color2-1), var(--bg-color2-2));
}

#bg3 {
  transition: opacity 1s;
  background: radial-gradient(#eff1f5, #eff1f5fa 70%, #eff1f533);
}

#foo > pre {
  position: relative;
  top: 0em;
  height: 70vh;
}

*:not(pre) > code {
  padding: 0 0.3em;
  border-radius: 0.1em;
  background: #dce0e8;
  color: #dd7878;
  text-decoration-color: #dd7878;
}

textarea {
  width: 50rem;
  height: 30rem;
  background: #eff1f5;
  font-size: 0.8em;
  font-family: sans-serif;
  border: #666;
  padding: 0.5em;
  border-radius: 0.5em;
  resize: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  color: $mainColor;
}

textarea::focus {
  border: #666;
}

pre.code-wrapper {
  border-radius: 0.5em !important;
}

pre.code-wrapper > code {
  padding: 1em !important;
  border-radius: 0.5em !important;
}

.reveal .progress {
  color: $linkColor !important;
}

.title {
  transform: translate(0, -1em);
}

@import "./node_modules/reveal.js/css/theme/template/theme";

.reveal .controls {
  color: white !important;
}

.reveal a > code {
    text-decoration: underline;
}

.reveal a {
    text-decoration: underline;
}
